<!DOCTYPE html>   <!--시작페이지 -->
<html lang="ko">
<style>
        body { text-align : center;}
        h2 { text-align : left;}
</style>
<head>
    <meta charset="UTF-8">
    <title>Game Page</title>
</head>
<body>
<h1>이것은 가위 바위 보 게임 페이지 입니다.</h1>
<h2> Login page & Board Go? </h2>
<form action="/one/user" method="GET">
        <label> 당신이 낼 손가락 모양을 고르시오 ^^</label>
        </br>
         <p>손가락의 모양은 가위, 바위, 보</p>
        <input name="user" type="number" value="" />
        <input type="submit" value="result view"/>
</form>
</body>
</html>
