<!DOCTYPE html>
<html lang="ko">
<style>
        body { text-align : center;}
</style>
<head>
    <meta charset="UTF-8">
    <title>결과 페이지</title>
</head>
<body>
<p><strong>result:</strong> {{user}}</p>
<p>게임종료</p>
<p> 게임 재시작을 원하면 뒤로가기를 눌러주세요 </p>
</body>
</html>
